Repository Alex-K1m/job-listings: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx}': eslint --fix
'*.scss': stylelint --fix
'*.{json,yml,yaml,md}': prettier --write

docs: add readme
  README.md
Due: prettier --write

ci: add test and deploy workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier --write

fix: double baseurl
  gatsby-config.js
Due: eslint --fix

fix: double baseurl (#1)
  gatsby-config.js
Due: eslint --fix

Deploying to gh-pages from @ Alex-K1m/job-listings@399a4322260ceab807ebad771c9b4ec863608e14 🚀
  app-2d40d5178d8193182803.js
  app-2d40d5178d8193182803.js.LICENSE.txt
  app-2d40d5178d8193182803.js.map
  app-eb60918be67044211b34.js
  app-eb60918be67044211b34.js.map
  chunk-map.json
  index.html
  manifest.webmanifest
  page-data/app-data.json
  page-data/sq/d/2582099446.json
  styles.6b69766e430234cc7686.css
  styles.ef4faba813fba1123601.css
  webpack-runtime-0ede1103d0d384733222.js
  webpack-runtime-0ede1103d0d384733222.js.map
  webpack-runtime-d3f141632fbda1213650.js
  webpack-runtime-d3f141632fbda1213650.js.map
  webpack.stats.json
Due: eslint --fix, prettier --write

build: change github username
  README.md
  package.json
  siteMeta.js
Due: eslint --fix, prettier --write

build: change github username (#2)
  README.md
  package.json
  siteMeta.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ alex-kim-dev/job-listings@b2017e95cff56573863c8aca16ef03658c2afbba 🚀
  index.html
  page-data/sq/d/3116433873.json
Due: prettier --write

chore: udpate dependencies
  package-lock.json
Due: prettier --write

Deploying to gh-pages from @ alex-kim-dev/job-listings@6426c1d5315bf1195d34ee7e7b826ec2440630e4 🚀
  chunk-map.json
  component---src-pages-index-js-19bf070fa9a7c3394e74.js.map
  component---src-pages-index-js-d20f8143de828f0f5d91.js
  component---src-pages-index-js-d20f8143de828f0f5d91.js.LICENSE.txt
  component---src-pages-index-js-d20f8143de828f0f5d91.js.map
  index.html
  page-data/app-data.json
  webpack-runtime-0ede1103d0d384733222.js
  webpack-runtime-0ede1103d0d384733222.js.map
  webpack-runtime-f91febe2d412851ca2f5.js
  webpack-runtime-f91febe2d412851ca2f5.js.map
  webpack.stats.json
Due: eslint --fix, prettier --write
